.b1{
    background-color:rgb(129, 129, 214);
    height: 200px;
}
.b3{
    background-color:rgb(129, 129, 214);
    height: 200px;

}
.b2{
    background-color:blue;
    height: 200px;

}
.b4{
    background-color:rgb(235, 255, 59);
    height: 200px;

}